[data-testid="seconds"] {
  transition: transform 100ms ease-in-out;
  will-change: transform;
}
[data-testid="minutes"] {
  transition: transform 100ms ease-in-out;
  will-change: transform;
}
[data-testid="hour"] {
  transition: transform 100ms ease-in-out;
  will-change: transform;
}